.note-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note-form button {
    border-radius: 5px;
    background-color: rgb(225, 195, 225);
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.note-form button:hover {
    background-color: rgb(225, 195, 225);
    cursor: pointer;
}

textarea,
input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}